<h1> ADD TEMPLATE FOR HEADER </h1>
<p> Add template for Logged in as... </p>

<h2> Edit Organisation </h2>
<%= form_with(model: @organisation, local: true) do |form| %>
    <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </p>

    <p>
      <%= form.label "Hourly rate" %><br>
      <%= form.text_field :hourlyRate %>
    </p>
      
    <p>
      <%= form.submit "Update" %>
    </p>
     <% end %>